:root {
	--primary-color: white;
	--secondary-color: black;
	--accent-color: #e6a69c; /*#C68F87;*/
}

body {
	margin: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 10px;
}

#brand {
	font-family: 'Allison', cursive;
	text-decoration: none;
	color: var(--secondary-color);
	font-size: 72px;
	font-weight: 600;
}

#nav-actions {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 30px;
}

#nav-actions a {
	text-decoration: none;
	color: var(--secondary-color);
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	transition: color 0.3s;
	padding: 20px;
}

#nav-actions a:hover {
	color: var(--accent-color);
}

.invitation-container {
	flex-grow: 1;
	background-image: url('imgs/girl_being_massaged.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Nunito', sans-serif;
	position: relative;
}

#invitation-text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 50px;
	margin-left: 50px;
}

#invitation-text h1 {
	color: var(--primary-color);
	font-size: 58px;
	text-shadow: 0px 0px 8px grey;
	font-weight: 200;
}

#invitation-text h1 span {
	font-weight: 400;
}

#invitation-text a {
	text-decoration: none;
	color: var(--primary-color);
	text-transform: uppercase;
	padding: 20px;
	font-weight: 400;
	font-size: 20px;
	border: 2px solid var(--primary-color);
	transition-duration: 0.3s;
	background-color: #22222222;
}

#invitation-text a:hover {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}