#hamburger-menu-btn {
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	min-width: 30px;
	aspect-ratio: 1/1;
	margin: 5px 20px;
}

#hamburger-menu-btn:hover {
	cursor: pointer;
}

#hamburger-menu-btn div {
	background-color: black;
	width: 100%;
	height: 2px;
	transition-duration: 200ms;
}

.hamburger-menu-btn-toggled > div:nth-child(1) {
	transform: translate(0, 7.5px) rotate(45deg);
}

.hamburger-menu-btn-toggled > div:nth-child(2) {
	opacity: 0;
}

.hamburger-menu-btn-toggled > div:nth-child(3) {
	transform: translate(0, -7.5px) rotate(-45deg);
}

@media only screen and (max-width: 930px) {
	#hamburger-menu-btn {
		display: flex;
	}
}